<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<tx:annotation-driven/>
<!-- 	<aop:config>
		<aop:advisor advice-ref="transactionAdvice"
			pointcut="bean(*Service)" />
	</aop:config>
	<tx:advice id="transactionAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice> -->
	<!-- <tx:advice id="trasanctionAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="get*" propagation="REQUIRED" read-only="true" 
		timeout="30"/> <tx:method name="upgrade*" propagation="REQUIRES_NEW" isolation="SERIALIZABLE"/> 
		<tx:method name="*" propagation="REQUIRED"/> </tx:attributes> </tx:advice> -->
	
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<!-- <property name="driverClass" value="oracle.jdbc.driver.OracleDriver" 
			/> -->
		<!-- <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" 
			/> -->
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/spring_study?user=root" />
		<property name="username" value="root" />
		<property name="password" value="qkrwnsghd" />
	</bean>
	<bean id="userDao"
		class="com.jun.spring_practice.user.dao.UserDaoJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="userService" class="com.jun.spring_practice.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="mailSender" ref="mailSender" />
		<!-- <property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy" 
			/> -->
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="testUserService" class="com.jun.spring_practice.user.service.TestUserServiceImpl"
		parent="userService" />

	<bean id="mailSender"
		class="com.jun.spring_practice.user.service.DummyMailSender" />

<!-- 	<bean id="transactionAdvice" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRE, readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean> -->
	<!-- <bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="target" ref="userServiceImpl"/> <property name="interceptorNames"> 
		<list> <value>transactionAdvisor</value> </list> </property> </bean> -->

	<!-- <bean id="transactionPointcut"
		class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression"
			value="execution(* *..*ServiceImpl.upgrade*(..))" />
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" /> -->
	<!-- <bean id="userLevelUpgradePolicy" class="com.jun.spring_practice.user.service.NormalUserUpgradePolicy"> 
		<property name="userDao" ref="userDao" /> </bean> -->

	<!-- <bean id="Oracle" class="org.springframework.jdbc.support.SQLErrorCodes"> -->
	<!-- <property name="badSqlGrammarCodes"> -->
	<!-- <value>900,903,917,936,942,17006</value> -->
	<!-- </property> -->
	<!-- <property name="InvalidResultSetAccessCodes"> -->
	<!-- <value>17003</value> -->
	<!-- </property> -->
	<!-- <property name="duplicateKeyCodes"> -->
	<!-- <value>1</value> -->
	<!-- </property> -->
	<!-- <property name="dataIntegrityViolationCodes"> -->
	<!-- <value>1400,1722,2291,2292</value> -->
	<!-- </property> -->
	<!-- </bean> -->
</beans>